.flag {
  height: 120px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #dfe1e5;
  border-radius: 15px;
  background-color: white;
  box-shadow: rgba(32, 33, 36, 0.28) 0px 1px 6px 0px;
  margin-bottom: 19px;
}

.flag img {
  max-width: calc(100% - 20px);
  max-height: calc(100% - 20px);
  height: auto;
  display: block;
  margin: auto;
}

.picture {
  height: 262px;
  width: 290px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #dfe1e5;
  border-radius: 15px;
  background-color: white;
  box-shadow: rgba(32, 33, 36, 0.28) 0px 1px 6px 0px;
  color: white;
  margin-bottom: 20px;
}

.picture img {
  max-width: calc(100% - 20px);
  max-height: calc(100% - 20px);
  height: auto;
  display: block;
  margin: auto;
}

.weight-class {
  height: 50px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #dfe1e5;
  border-radius: 15px;
  background-color: white;
  box-shadow: rgba(32, 33, 36, 0.28) 0px 1px 6px 0px;
  color: white;
  margin-bottom: 19px;
  font-family: "Avantgarde", TeX Gyre Adventor, URW Gothic L, sans-serif;
  font-size: 11px;
}

.ufcDebutYear {
  height: 50px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #dfe1e5;
  border-radius: 15px;
  background-color: white;
  box-shadow: rgba(32, 33, 36, 0.28) 0px 1px 6px 0px;
  color: white;
  font-family: "Avantgarde", TeX Gyre Adventor, URW Gothic L, sans-serif;
}

.fighterCard {
  width: 550px;
  height: 380px;
  flex-wrap: wrap;
  gap: 20px;
  display: flex;
  flex-direction: column;
  border: 1px solid #dfe1e5;
  border-radius: 15px;
  background-color: rgb(130, 131, 132);
  box-shadow: rgba(32, 33, 36, 0.28) 0px 1px 6px 0px;
}

.twoHalves {
  display: flex;
  flex-wrap: wrap;
  margin: 6px;
}

.half {
  height: 267px;
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  margin-right: 6px;
  margin-left: 12px;
}

.name {
  height: 80px;
  width: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #dfe1e5;
  border-radius: 15px;
  background-color: white;
  box-shadow: rgba(32, 33, 36, 0.28) 0px 1px 6px 0px;
  font-family: "Avantgarde", TeX Gyre Adventor, URW Gothic L, sans-serif;
  font-size: 15.5px;
  color: rgb(255, 255, 255);
  margin-bottom: -9px;
}
.textright {
  margin-left: auto;
  margin-right: 25px;
}

.fullscreen {
  width: 100vw;
  height: 100vh;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  position: relative;
}

.searchBar {
  height: 50px;
  width: 550px;
  font-size: 20px;
}

.list {
  padding: 0;
  list-style: none;
}

.list li {
  margin-bottom: 30px;
}

.guesses {
  font-family: "Avantgarde", TeX Gyre Adventor, URW Gothic L, sans-serif;
  font-size: 30px;
  color: rgb(35, 35, 35);
}
